{% extends "base.html" %}

{% block title %}Author{% endblock %}

{% block content %}
<h1 class="text-success">{{author.username}}</h1>
<hr>
<div>
    <p>{{author.bio_detail|linebreaksbr}}</p>
</div>
<hr>
<h3 class="text-success">All Blogs</h3>
{% if author_posts %}
{% for post in author_posts %}
<div class="card border-success m-3">
    <a class="text-decoration-none" href="{% url "blog:blog-detail" post.id %}"><h5 class="card-header bg-success text-white bg-opacity-75">{{ post.title }}</h5></a>
    <div class="card-body">
        <p class="card-text">Date posted :{{post.created_at}}</p>
    </div>
</div>
{% endfor %}
{% else %}
No blogs posted by {{author.username}} yet!
{% endif %}

<nav>
    <div class="pagination justify-content-center">
        {% if author_posts.has_previous %}
            <a class="link-success mx-2" href="?page={{ author_posts.previous_page_number }}">Previous</a>
        {% endif %}
            <span>Page {{author_posts.number}} of {{author_posts.paginator.num_pages}}.<span>
        {% if author_posts.has_next %}
            <a class="link-success mx-2" href="?page={{ author_posts.next_page_number }}">Next</a>
        {% endif %}
    </div>
  </nav>
{% endblock %}